.App {
  text-align: center;
}

.Box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px;
  background: rgb(236, 239, 241);
  border-radius: 5px;
  color: rgb(17, 34, 51);
  display: flex;
  flex-direction: column;
  min-width: 10em;
  max-width: 25em; 
  padding: 1.5rem 2rem;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
